<div id="footer" class="page-footer panel border-top">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4 text-center">
		  <p>&copy 2020 Znamenskiy Lab.</p>
		   <p><a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">About this site</a></p><p>
		</div>

    <div class="col-sm-4 text-center">
    <img src="{{ site.url }}{{ site.baseurl }}/images/crick_logo.png" class="img-fluid" alt="Crick logo" width="100 px">
    </div>

		<div class="col-sm-4 text-center">
		  <a href="http://www.crick.ac.uk">Francis Crick Institute</a> <br />
		  1 Midland Road <br />
		  London NW1 1AT <br />
		  United Kingdom <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
