<div id="footer" class="page-footer panel border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center my-auto">
        <p>
          &copy 2023 Znamenskiy Lab.<br />
          <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite"
            >About this site</a
          >
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 text-center">
        <a href="https://www.crick.ac.uk/">
          <img
            src="{{ site.url }}{{ site.baseurl }}/images/crick_logo.png"
            class="img-fluid"
            alt="Crick logo"
            width="100 px"
        /></a>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
