<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      Znamenskiy Lab</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Research
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/3dvision">Vision in 3D</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/connectomics">Molecular connectomics</a>
            <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/mechanisms">Mechanisms of cortical
              wiring</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/team">Team</a>
        <li>
        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/vacancies">Join</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>